
<center>
  <form method="POST">
     <br /> 
     <table>
      <tr>
        <td>
          <label>Insert your age (1-99): </label><input type="number" name="age" min="1" max="99">
        </td>
      </tr>
      <tr>
        <td>
          <label>Insert your salary (number): </label><input type="number" name="salary" min="0" max="99999999">
        </td>
      </tr>
      <tr>
        <td>
          <label>Insert your class (blue, pink, white): </label><input name="class">
        </td>
      </tr>
     </table>
      <br />
      <input type="submit">
      <br /><br /><br />
      <label>{{ href2 }}</label>
  </form>
  <br />
  <label>Links: &nbsp</label>
  <input type="button" name="t_music" id="t_music" onclick="window.location.href='./music'" value="music">
  <input type="button" name="t_phone" id="t_phone" onclick="window.location.href='./phone'" value="phone">
  <input type="button" name="t_travel" id="t_travel" onclick="window.location.href='./travel'" value="travel">
  <input type="button" name="t_vehicle" id="t_vehicle" onclick="window.location.href='./vehicle'" value="vehicle">
  <input type="button" name="t_watch" id="t_watch" onclick="window.location.href='./watch'" value="watch">
</center>
